@{
    ViewData["Title"] = "Big Cheese Game Lobby Page";
}

<div class="text-center">
    <h1 class="display-4">Big Cheese Game Lobby</h1>
</div>

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">Username</div>
        <div class="col-6"><input type="text" id="lobbyUsername" value="@User.Identity?.Name" style="width:300px;"/></div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">Name</div>
        <div class="col-6"><input type="text" id="lobbyNewGameName" value="some game name" style="width:300px" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">Mode</div>
        <div class="col-6">
            <select id="lobbyNewGameMode">
                <option value="1">Bingo</option>
                <option value="2">Cheesey</option>
                <option value="3" selected>McClusky Police Department</option>
            </select>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">Number of cheeses to match</div>
        <div class="col-6">
            <select id="lobbyNewGameCheeseCount">
                <option>3</option>>
                <option>5</option>
                <option selected>9</option>
                <option>16</option>
                <option>25</option>
            </select>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">Number of players to start</div>
        <div class="col-6">
            <select id="lobbyNewGameSize">
                <option selected>3</option>>
                <option>4</option>
                <option>5</option>
                <option>6</option>
            </select>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-8">
            <input type="button" id="lobbyNewGameButton" value="Create New Game" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">Game Id</div>
        <div class="col-6"><input type="text" style="width:300px" id="lobbyJoinGameId" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-8">
            <input type="button" id="lobbyJoinGameButton" value="Join Game" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p id="gamePulseMessage" />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p id="gameJson">{}</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ul id="messagesList"></ul>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/lobby.js" asp-append-version="true"></script>