@{
    ViewData["Title"] = "Buzzword Bingo Server Lobby";
}

<div class="text-center">
    <h1 class="display-3">Buzzword Bingo Server Lobby</h1>
</div>

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">Username</div>
        <div class="col-6"><input type="text" id="lobbyUsername" value="" style="width:300px;" /></div>
        <div class="col-4"><input type="button" id="softLogOnButton" value="Gimmie an id" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
</div>

<div class="container" id="chatDataEntry" style="display:none">
    <div class="text-center">
        <h2 class="display-4">Demo Chat</h2>
    </div>
    <div class="row">&nbsp;</div>
    <div class="col-12">
        <ul>
            <li>You need to put in a username / get an ID before using.</li>
            <li>Create a game with at least 3 players... because...</li>
            <li>"Send Direct Message" is hardcoded in this javascript to send to player 1 in the game - so that needs to exist</li>
            <li>"Send Game Message" requires a game id - so a game needs to exist</li>
            <li>Need to change the fake log-on to also call SignalR to finalise connections - currently done when joining a game</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-8"><input type="text" id="messageInput" style="width:100%" maxlength="144" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-4"><input type="button" id="sendDirectButton" value="Send Direct Message" /></div>
        <div class="col-4"><input type="button" id="sendGameButton" value="Send Game Message" /></div>
        <div class="col-4"><input type="button" id="sendGlobalButton" value="Send Global Message" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
</div>

<div class="container" id="newGameDataEntry" style="display:none">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-4">Name</div>
        <div class="col-8">
            <input type="text" id="lobbyNewGameName" value="some game name" style="width:300px" />
            <input type="button" id="lobbyNewGameButton" value="Create New Game" />
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-4">Mode</div>
        <div class="col-8">
            <select id="lobbyNewGameMode">
                <option value="1">Bingo</option>
                <option value="2">Cheesey</option>
                <option value="3" selected>McClusky Police Department</option>
            </select>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-4">Number of cheeses to match</div>
        <div class="col-8">
            <select id="lobbyNewGameCheeseCount">
                <option>3</option>>
                <option>5</option>
                <option selected>9</option>
                <option>16</option>
                <option>25</option>
            </select>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-4">Number of players to start</div>
        <div class="col-8">
            <select id="lobbyNewGameSize">
                <option selected>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-2">Game Id</div>
        <div class="col-6"><input type="text" style="width:300px" id="lobbyJoinGameId" disabled /></div>
        <div class="col-4"><input type="button" id="lobbyJoinGameButton" value="Join Game" disabled /></div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p id="gamePulseMessage"></p>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="chatList"><li>Chat:</li></ul>
    </div>
    <div class="col-6">
        <ul id="messagesList"><li>Game Updates:</li></ul>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <p>Player JSON:</p>
    </div>
    <div class="col-6">
        <p>Game JSON:</p>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <p id="playerJson"></p>
    </div>
    <div class="col-6">
        <p id="gameJson"></p>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/lobby.js" asp-append-version="true"></script>
