@{
    ViewData["Title"] = "Buzzword Bingo Server Lobby";
}

<div class="text-center">
    <h1 class="display-3">Buzzword Bingo Server Lobby</h1>
</div>

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">Username</div>
        <div class="col-6"><input type="text" id="lobbyUsername" value="" style="width:300px;" /></div>
        <div class="col-4"><input type="button" id="softLogOnButton" value="Gimmie an id" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
</div>

<div class="container" id="chatDataEntry" style="display:none">
    <div class="text-center">
        <h2 class="display-4">Demo Chat</h2>
    </div>
    <div class="row">&nbsp;</div>
    <div class="col-12">
        <ul>
            <li>You need to put in a username / get an ID before using.</li>
            <li>Create a game with at least 3 players... because...</li>
            <li>"Send Direct Message" is hardcoded in this javascript to send to player 1 in the game - so that needs to exist</li>
            <li>"Send Game Message" requires a game id - so a game needs to exist</li>
            <li>Need to change the fake log-on to also call SignalR to finalise connections - currently done when joining a game</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-8"><input type="text" id="messageInput" style="width:100%" maxlength="144" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-4"><input type="button" id="sendDirectButton" value="Send Direct Message" /></div>
        <div class="col-4"><input type="button" id="sendGameButton" value="Send Game Message" /></div>
        <div class="col-4"><input type="button" id="sendGlobalButton" value="Send Global Message" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
</div>

<div class="container" id="newGameDataEntry" style="display:none">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-4">Name</div>
        <div class="col-8">
            <input type="text" id="lobbyNewGameName" value="some game name" style="width:300px" />
            <input type="button" id="lobbyNewGameButton" value="Create New Game" />
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-4">Mode</div>
        <div class="col-8">
            <select id="lobbyNewGameMode">
                <option value="1">Bingo</option>
                <option value="2">Cheesey</option>
                <option value="3" selected>McClusky Police Department</option>
            </select>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-4">Number of cheeses to match</div>
        <div class="col-8">
            <select id="lobbyNewGameCheeseCount">
                <option>3</option>>
                <option>5</option>
                <option selected>9</option>
                <option>16</option>
                <option>25</option>
            </select>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-4">Number of players to start</div>
        <div class="col-8">
            <select id="lobbyNewGameSize">
                <option selected>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-2">Game Id</div>
        <div class="col-6"><input type="text" style="width:300px" id="lobbyJoinGameId" disabled /></div>
        <div class="col-4"><input type="button" id="lobbyJoinGameButton" value="Join Game" disabled /></div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>

<div class="container" id="gameMode2DataEntry" style="display:none">
    <div class="text-center">
        <h4 class="display-4">Game Mode 2 push selection to server test</h4>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <input type="button" class="mode2Btn" id="game_mode2_1" value="1" />
            <input type="button" class="mode2Btn" id="game_mode2_2" value="2" />
            <input type="button" class="mode2Btn" id="game_mode2_3" value="3" />
            <input type="button" class="mode2Btn" id="game_mode2_4" value="4" />
            <input type="button" class="mode2Btn" id="game_mode2_5" value="5" />
            <input type="button" class="mode2Btn" id="game_mode2_6" value="6" />
            <input type="button" class="mode2Btn" id="game_mode2_7" value="7" />
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <input type="button" class="mode2Btn" id="game_mode2_8" value="8" />
            <input type="button" class="mode2Btn" id="game_mode2_9" value="9" />
            <input type="button" class="mode2Btn" id="game_mode2_10" value="10" />
            <input type="button" class="mode2Btn" id="game_mode2_11" value="11" />
            <input type="button" class="mode2Btn" id="game_mode2_12" value="12" />
            <input type="button" class="mode2Btn" id="game_mode2_13" value="13" />
            <input type="button" class="mode2Btn" id="game_mode2_14" value="14" />
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <input type="button" class="mode2Btn" id="game_mode2_15" value="15" />
            <input type="button" class="mode2Btn" id="game_mode2_16" value="16" />
            <input type="button" class="mode2Btn" id="game_mode2_17" value="17" />
            <input type="button" class="mode2Btn" id="game_mode2_18" value="18" />
            <input type="button" class="mode2Btn" id="game_mode2_19" value="19" />
            <input type="button" class="mode2Btn" id="game_mode2_20" value="20" />
            <input type="button" class="mode2Btn" id="game_mode2_21" value="21" />
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <input type="button" class="mode2Btn" id="game_mode2_22" value="22" />
            <input type="button" class="mode2Btn" id="game_mode2_23" value="23" />
            <input type="button" class="mode2Btn" id="game_mode2_24" value="24" />
            <input type="button" class="mode2Btn" id="game_mode2_25" value="25" />
            <input type="button" class="mode2Btn" id="game_mode2_26" value="26" />
            <input type="button" class="mode2Btn" id="game_mode2_27" value="27" />
            <input type="button" class="mode2Btn" id="game_mode2_28" value="28" />
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <input type="button" class="mode2Btn" id="game_mode2_29" value="29" />
            <input type="button" class="mode2Btn" id="game_mode2_30" value="30" />
            <input type="button" class="mode2Btn" id="game_mode2_31" value="31" />
            <input type="button" class="mode2Btn" id="game_mode2_32" value="32" />
            <input type="button" class="mode2Btn" id="game_mode2_33" value="33" />
            <input type="button" class="mode2Btn" id="game_mode2_34" value="34" />
            <input type="button" class="mode2Btn" id="game_mode2_35" value="35" />
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <input type="button" class="mode2Btn" id="game_mode2_36" value="36" />
            <input type="button" class="mode2Btn" id="game_mode2_37" value="37" />
            <input type="button" class="mode2Btn" id="game_mode2_38" value="38" />
            <input type="button" class="mode2Btn" id="game_mode2_39" value="39" />
            <input type="button" class="mode2Btn" id="game_mode2_40" value="40" />
            <input type="button" class="mode2Btn" id="game_mode2_41" value="41" />
            <input type="button" class="mode2Btn" id="game_mode2_42" value="42" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <p id="gamePulseMessage"></p>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="chatList"><li>Chat:</li></ul>
    </div>
    <div class="col-6">
        <ul id="messagesList"><li>Game Updates:</li></ul>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <p>Player JSON:</p>
    </div>
    <div class="col-6">
        <p>Game JSON:</p>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <p id="playerJson"></p>
    </div>
    <div class="col-6">
        <p id="gameJson"></p>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/lobby.js" asp-append-version="true"></script>
