@{
    ViewData["Title"] = "Big Cheese Home Page";
}

<div class="text-center">
    <h1 class="display-4">Big Cheese Server</h1>
</div>

    <div class="row">
            <div class="col-6">
                <ul>
                    <li>Goto the Lobby page...</li>
                    <li>Open 2nd & 3rd  Incognito window on Lobby pages</li>
                    <li>Window 1, 2 and 3; add a username, Click "Gimmie and id"</li>
                    <li>Window 1 Click "Add Game"</li>
                    <li>Window 2 & 3 : Click "Join Game"</li>
                </ul>
                <ul>
                    <li>See React App at https://github.com/toxicgorilla/react-bingo</li>
                </ul>
                <p>REST API</p>
                <ul>
                    <li><a href="/api/game">/api/game</a> - list all games</li>
                    <li><a href="/api/game/WaitingForPlayers">/api/game/WaitingForPlayers</a> - list WaitingForPlayers games</li>
                    <li><a href="/api/game/Playing">/api/game/Playing</a> - list Playing games</li>
                    <li><a href="/api/game/Ended">/api/game/Ended</a> - list Ended games</li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-2">User</div>
                <div class="col-4"><input type="text" id="userInput" /></div>
            </div>
            <div class="row">
                <div class="col-2">Message</div>
                <div class="col-4"><input type="text" id="messageInput" /></div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-6">
                    <input type="button" id="sendButton" value="Send Message" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <ul id="messagesList"></ul>
            </div>
        </div>

        <script src="~/js/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/chat.js"></script>
